<div class="md-header__option">
  <button
    class="md-header__button md-icon md-code-theme-toggle"
    type="button"
    data-code-theme-toggle
    data-code-theme-title="Следующая схема подсветки: VSCode (VSC)"
    title="Следующая схема подсветки: VSCode (VSC)"
    aria-label="Сменить схему подсветки кода. Следующая схема подсветки: VSCode (VSC)"
  >
    {% include ".icons/material/code-tags.svg" %}
    <span class="md-code-theme-toggle__label" data-code-theme-label>MNK</span>
  </button>
</div>
