:root > * {
    /* --md-code-fg-color: hsla(var(--md-hue),18%,86%,0.82);
    --md-code-bg-color: #e2e2e2;
    --md-code-hl-color: #2977ff;
    --md-code-hl-color--light: #2977ff1a; */

    /* --md-code-hl-number-color:           #000000;
    --md-code-hl-special-color:          #963200;
    --md-code-hl-function-color:         #0000FF;
    --md-code-hl-constant-color:         #0000FF;
    --md-code-hl-keyword-color:          #FF0000;
    --md-code-hl-string-color:           #000000;
    --md-code-hl-name-color:             #0000FF;
    --md-code-hl-operator-color:         #FF0000;
    --md-code-hl-punctuation-color:      #FF0000;
    --md-code-hl-comment-color:          #008000;
    --md-code-hl-generic-color:          #963200;
    --md-code-hl-variable-color:         #0000FF; */
    
    --md-code-font-family: "JetBrains Mono", "Roboto Mono", SFMono-Regular, Consolas, Menlo, monospace
}