:root > * {
    --md-code-font-family: "JetBrains Mono", "Roboto Mono", SFMono-Regular, Consolas, Menlo, monospace
}

[data-md-color-scheme="default"] {
    --md-code-hl-comment-color: #75715e;
    --md-code-hl-variable-color: #f8f8f2;
    --md-code-hl-string-color: #e6db74;
    --md-code-hl-number-color: #ae81ff;
    --md-code-hl-constant-color: #ae81ff;
    --md-code-hl-function-color: #a6e22e;
    --md-code-hl-keyword-color: #f92672;
    --md-code-hl-operator-color: #f92672;
    --md-code-hl-punctuation-color: #f8f8f2;
    --md-code-hl-name-color: #f8f8f2;
    --md-code-hl-special-color: #fd971f;
    --md-code-hl-generic-color: #f8f8f2;
}

[data-md-color-scheme="slate"] {
    --md-code-hl-comment-color: #75715e;
    --md-code-hl-variable-color: #f8f8f2;
    --md-code-hl-string-color: #e6db74;
    --md-code-hl-number-color: #ae81ff;
    --md-code-hl-constant-color: #ae81ff;
    --md-code-hl-function-color: #a6e22e;
    --md-code-hl-keyword-color: #f92672;
    --md-code-hl-operator-color: #f92672;
    --md-code-hl-punctuation-color: #f8f8f2;
    --md-code-hl-name-color: #f8f8f2;
    --md-code-hl-special-color: #fd971f;
    --md-code-hl-generic-color: #f8f8f2;
}
